
.underline {
  border-bottom: 3px solid #C44;
}

.warn {
  color: #C00;
}

.CodeMirror-line-numbers {
	width: 2.2em;
	color: #aaa;
	background-color: #eee;
	text-align: right;
	padding-right: .3em;
	font-size: 10pt;
	font-family: monospace;
	padding-top: .4em;
}

.CodeMirror-border {
	background-color: white;
	border: 1px solid gray;
	padding: 2px;
	width: 99%;
}

.CodeMirror-textarea {
  visibility: hidden;
  font-family: courier, monospace;
  font-size: 10px;
  color: #144;
}

